*
{
	text-align: center;
	overflow-x: hidden;
}

#general-info {
	margin: auto;
	margin-top: 10px;
	border-style: solid;
	border-width: 3px;
	width: 75%;
    background-color: rgb(241, 239, 239);
	opacity: 1;
	z-index: 100;
	transition: all 0.125s ease-in-out, display .5s linear;
}

.underlineable{
	display: inline-block;
}

.underline {
	display: block;
	height: 2px;
	margin: 0 auto;
	width: 0;
	transition: width .25s linear;
}

*:hover>.underline, .active {
	width: 100%;
}

#general-info.down {
	opacity: 0;
	z-index: -100;
	transform: translateY(10vh);
	display: none;
}

body {
	width: 100;
	margin-top: 2%;
	background: white;
}

.modal-data
{
	display: none;
}

.modal {
	pointer-events: none;
	opacity: 0;
    position: absolute;
    z-index: 1000;
    background: red;
    border-radius: 20px;
    border: 2px solid black;
	margin-top: 20px;
    left: 50%;
    top: 50%;
    transition: opacity .25s linear, display .25s linear;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
    box-shadow: 0 0 100px 10px black inset;
	width: 80vw;
}

.modal.open
{
	pointer-events: all;
	opacity: 100;
	z-index: 1000;
}

.glass-pane
{
	left: 50%;
    top: 50%;
    transition: opacity .25s linear, display .25s linear;
    transform: translateX(-50%) translateY(-50%);
	background: rgba(0, 102, 255, 0.5);
	z-index: 110;
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
}

.glass-pane.shown
{
	display: inherit;
}