*
{
	text-align: center;
	overflow-x: hidden;
}

fieldset
{
	border: 0; 
}

#general-info
{
	pointer-events: all;
	margin: auto;
	margin-top: 10px;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(32, 32, 85);
	width: 75%;
    background-color: rgb(181, 189, 226);
	opacity: 1;
	
}

table, th, td
{
	border: 1px solid black;
	margin: auto;
}

#general-info.down
{
	pointer-events: none;
	opacity: 0;
	display: none;
}

.underlineable
{
	display: inline-block;
}

.underline
{
	display: block;
	height: 2px;
	margin: 0 auto;
	width: 0;
	transition: width .25s linear;
	background-color: rgb(100, 100, 100); 
}

*:hover>.underline, .active
{
	width: 100%;
}

h1
{
	color: rgb(163, 167, 162);
}

body
{
	margin-top: 2%;
	background: rgb(23, 70, 124);
}

button
{
	cursor: pointer;
	background-color: rgb(59, 59, 87);
	color: rgb(252, 252, 252);
}

#logo
{
	top: 0;
	width: 72px;
	height: 72px;
}

#title
{
	margin-top: 0px;
}

#modal-activator
{
	margin-bottom: 5px;
}

li
{
	list-style-position: inside;
	text-align: left;
}