*
{
	text-align: center;
}

#general-info {
	margin: auto;
	width: 75%;
	opacity: 1;
	z-index: 100;
	transition: all 0.125s ease-in-out;
}

.underlineable{
	display: inline-block;
}

.underline {
	display: block;
	height: 2px;
	margin: 0 auto;
	width: 0;
	transition: width .25s linear;
}

*:hover>.underline, .active {
	width: 100%;
}

#general-info.down {
	opacity: 0;
	z-index: -100;
	transform: translateY(10vh);
}

body {
	margin: 0;
	background: white;
	overflow-x: hidden;
}

.popup
{
	opacity: 0;
	transition: opacity 0.5s linear;
	margin-top: 10px;
	position: absolute;
	width: 100%;
	z-index: -100;
	text-align: center;
	visibility: hidden;
	display: none;
}

.popup.shown {
	opacity: 1;
	z-index: 100;
	visibility: visible;
	display: inherit;
}

.modal-data
{
	display: none;
}

.modal {
	pointer-events: none;
	opacity: 0;
    position: absolute;
    z-index: -1000;
    background: red;
    border-radius: 20px;
    border: 2px solid white;
	margin-top: 20px;
    left: 50%;
    top: 50%;
    transition: opacity .25s linear;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
    box-shadow: 0 0 100px 10px black inset;
	width: 80vw;
}

.modal.open
{
	opacity: 100;
	z-index: 1000;
}