#general-info {
	text-align: center;
	margin: auto;
	width: 75%;
	opacity: 1;
	z-index: 100;
	transition: all 0.125s ease-in-out;
}

#general-info.down {
	opacity: 0;
	z-index: -100;
	transform: translateY(10vh);
}

body {
	margin: 0;
	background: white;
	overflow: hidden;
}

.popup
{
	opacity: 0;
	transition: opacity 0.5s linear;
	margin-top: 10px;
	position: absolute;
	width: 100%;
	z-index: -100;
	text-align: center;
}

.popup.shown {
	opacity: 1;
	z-index: 100;
	visibility: visible;
}