*
{
	text-align: center;
	overflow-x: hidden;
}

body
{
	margin-top: 2%;
	background: rgb(23, 70, 124);
}

fieldset
{
	border: 0; 
}

table, th, td
{
	border: 1px solid black;
	margin: auto;
}

h1
{
	color: rgb(163, 167, 162);
}

ol
{
	color: rgb(0, 0, 0);
	display: table;
	margin: 0 auto;
}

li
{
	list-style-position: inside;
	text-align: left;
}

button, .clickable
{
	cursor: pointer;
	background-color: rgb(59, 59, 87);
	color: rgb(252, 252, 252);
	width: 126px;
	border-style: outset;
	border-top-color: rgb(133, 133, 133);
	border-left-color: rgb(133, 133, 133);
	border-bottom-color: rgb(118, 118, 118);
	border-right-color: rgb(118, 118, 118);
	-webkit-appearance: none;
    border-radius: 0;
}

@media (max-width: 700px)
{
	button, .clickable {
		width: 16.75vw;
	}
}

@media (max-width: 500px)
{
	.navbutton {
		font-size: 70%;
	}
}

@media (max-width: 435px)
{
	.navbutton {
		font-size: 60%;
	}
}

@media (max-width: 380px)
{
	.navbutton {
		font-size: 50%;
	}
}

@media (max-width: 330px)
{
	.navbutton {
		font-size: 45%;
	}
}

@media (max-width: 310px)
{
	.navbutton {
		font-size: 40%;
	}
}

.underlineable
{
	display: inline-block;
}

.underline
{
	display: block;
	height: 2px;
	margin: 0 auto;
	width: 0;
	transition: width .25s linear;
	background-color: rgb(100, 100, 100); 
}

*:hover>.underline, .active
{
	width: 100%;
}

.video
{
	width: 560px;
	height: 315px;
}

@media (max-width: 420px)
{
	.video
	{
		width: 100%;
	}
}

#general-info.down
{
	pointer-events: none;
	opacity: 0;
	display: none;
}

#general-info
{
	pointer-events: all;
	margin: auto;
	margin-top: 10px;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(32, 32, 85);
	width: 75%;
    background-color: rgb(181, 189, 226);
	opacity: 1;
	
}

#logo
{
	top: 0;
	width: 72px;
	height: 72px;
}

#title
{
	margin-top: 0px;
}

#modal-activator
{
	margin-bottom: 5px;
}