.modal-data
{
	display: none;
}

.modal {
	pointer-events: none;
	touch-action: none;
	opacity: 0;
    position: fixed;
    z-index: 1000;
    background: red;
    border-radius: 20px;
    border: 2px solid black;
	margin-top: 0px;
	padding-bottom: 20px;
    left: 50%;
    top: 50%;
    transition: opacity .25s linear, display .25s linear;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
    box-shadow: 0 0 100px 10px black inset;
	width: 80vw;
}

.modal.open
{
	pointer-events: all;
	touch-action: all;
	opacity: 100;
}

.glass-pane
{
	pointer-events: none;
	touch-action: none;
    transition: opacity .25s linear;
	background: rgba(0, 102, 255, 0.5);
	z-index: 110;
	position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
	opacity: 0;
}

.glass-pane.shown
{
	touch-action: all;
	pointer-events: all;
	opacity: 1;
}

#modal-dialogue
{
	overflow-y: auto;
	max-height: 80vh;
}

#closeModalButton
{
	position: absolute;
    top: 0;
	right: 0;
    width: 40px;
    line-height: 20px;
    margin: 0;
    border: 2px solid black;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-left-radius: 20px;
    cursor: pointer;
	font-size: 15px;
}

#modal-dialogue p
{
	color: rgb(0, 0, 0);
	width: 90%;
	margin: auto;
}

#modal-dialogue
{
	margin-top: 23px;
	margin-bottom: 23px;
}