.popup
{
	margin: auto;
	width: 75%;
	z-index: -100;
	text-align: center;
	border: 3px;
	border-style: solid;
	background-color: rgb(181, 189, 226);
	margin-top: 10px;
	display:none;
}

.popup.shown
{
	z-index: 100;
	display: inherit;
}
